<p id="notice"><%= notice %></p>

<h1>Programming Skills</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level of experience</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programming_skills.each do |programming_skill| %>
      <tr>
        <td><%= programming_skill.name %></td>
        <td><%= programming_skill.level_of_experience %></td>
        <td><%= link_to 'Show', programming_skill %></td>
        <td><%= link_to 'Edit', edit_programming_skill_path(programming_skill) %></td>
        <td><%= link_to 'Destroy', programming_skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Programming Skill', new_programming_skill_path %>
